@import "utils.less";

#converse {
    .box;
    margin-top: 15px;
    
    #message {
        width: 100%;
        height: 150px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
}

#status {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #6a6;
}

#converse {
}

#converse textarea {
    margin-top: 0;
}
