#message {
  width: 100%;
  height: 4em;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

#history p {
  margin-top: 10px;
}

#facilitate {
    display :none;
}

#converse {
    display :none;
}

.note {
  font-size: 0.7em;
  float: left;
}

.message {
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
    width: 50px;
    float: right;
    clear: right;
}

.text {
    margin-right: 50px;
}