@import "vars.less";

header {
    background: @headerBackground;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    color: #fff;
    padding: 7px 0;
    overflow: hidden;

    h1 {
        color: @lightTextColor;
        display: inline;
        position: relative;
        top: 7px;
        margin-right: 10px;
        margin-bottom: 0;
    }

    #logo {
        position: relative;
        top: -4px;
        height: 35px;
        float: right;
    }

    #back {
        position: relative;
        top: 3px;
        float: right;
        padding: 7px 10px;
    }

    #menu {
        float: left;
        margin-right: 7px;
    }

    #new-sharing {
        float: left;
        margin-right: 7px;
    }
}

.conversation {
    margin: 30px 20px;

    .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        font-size: 20px;
        font-weight: bold;
        background: @textBackground;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 15px 20px 0;
    }

    .messages {
        .message {

            .message-header {
                background: url('/static/images/top-left.svg') no-repeat;
                width: 100%;
                height: 30px;
                margin-top: -5px;
            }

            &:first-child .message-header {
                background: @textBackground;
            }

            .message-body {
                margin-top: -2px;
                padding: 7px 20px;
                background: @textBackground;
                .by {
                    color: @textColorGrayed;
                    margin-top: -25px;
                    font-size: 14px;
                    .author {
                        font-weight: bold;
                    }
                }

                .text {
                    margin-top: 5px;
                    text-align: justify;
                    margin-bottom: -15px;
                }
            }

            .message-footer {
                margin-top: -2px;
                background: url('/static/images/bottom-left.svg') no-repeat;
                width: 100%;
                height: 30px;
            }

            &:last-child .message-footer {
                height: 20px;
                background: @textBackground;
            }

            &.talker {
                .message-body .author {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 0 3px;
                }
            }
        }
    }

    .action {
        position: relative;
        display: block;
        text-align: center;
        font-size: 18px;
        text-decoration: none;
        color: @lightTextColor;
        background: @buttonBackground;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 5px;
    }
}

.note {
    background: @bodyBackgroundHalf;
    color: @lightTextColor;
    padding: 10px;
    overflow: hidden;
    a {
        color: @lightTextColor;
    }
}

.container {
    max-width: 600px;
    margin: auto;
    width: 95%;
}

#main {
    .container;
    margin-top: 20px;
    margin-bottom: 20px;
}