@import "utils.less";

#main {
    padding-bottom: 7px; // for share button shadow
}

#new_conversation {
    float: left;
}

#examples {
    .example {
        .box;
        overflow: hidden;
        margin-bottom: 10px;

        .message {
            margin-bottom: 10px;
            max-height: 100px;
            overflow: hidden;

            .title {
                font-size: 1.4em;
                font-weight: bold;
            }

            .text {
                margin-top: 10px;
            }
        }

        .by {
            font-size: 0.8em;
            margin: 0 0 7px 0;
            float: left;
            color: #888;
            a {
                color: #888;
            }
            .author {
                font-weight: bold;
            }
        }

        .more {
            font-size: 0.8em;
            display: none;
        }
    }
}

#read-all {
    float: left;
    margin-left: 2px;
    margin-top: 10px;
}

/*
@media (max-width: 1100px) {
    #examples {
        .example {
            .column(6);
            &:last-child {
                display: none;
            };
        }
    }

    #actions {
        #share {
            .column(12);
        }
    }
}
*/