* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #bf8b30;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #fff2ba;
  direction: rtl;
}

#body {
  background-color: #ffffff;
  padding: 20px;
  width: 800px;
  margin: auto;
/*  margin-top: 10px;
  margin-bottom: 20px;
*/  font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
  color: #666;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 7px;
  font-size: 170%;
}

#header {
  background: url(images/logo-100.png) no-repeat right top;
  /*height: 130px;*/
}

#links {
  padding-top: 85px;
  padding-right: 100px;
  padding-bottom: 10px;
  border-bottom: 3px #eee solid;
}

#login-links {
  float: left;
}

.conversation {
  border: 1px #eee solid;
  padding: 7px;
  margin-bottom: 10px;
}

.conversation:hover {
  background-color: #ffffee;
}

.conversation .title {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 5px;
}
