@font-face {
  font-family: Choco;
  src: url(fonts/ChocoRegular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #07c;
}

a:hover {
  text-decoration: underline;
}

body {
  direction: rtl;
  background: url(images/paper.png);
  padding: 20px;
  width: 800px;
  margin: auto;
  font-family: "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4 {
  color: #666;
}

h1 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 38px;
  font-family: "Choco", sans-serif;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

p {
  margin-bottom: 10px;
}

#new_conversation {
  float: left;
  font-size: 105%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 2px;
  margin-top: 5px;
  font-family: "Choco", sans-serif;
  cursor: pointer;
}

#header {
  background: url(images/logo-100.png) no-repeat right top;
  font-family: "Choco", sans-serif;
}

#header #links {
  padding-top: 85px;
  padding-right: 100px;
  padding-bottom: 10px;
  border-bottom: 3px #e5e5e5 solid;
}

#header #login-links {
  float: left;
}

.conversation {
  border: 1px #e5e5e5 solid;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 10px;
}

.conversation .title {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 5px;
}

label {
  display: block;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}