{% extends "layout.html" %}

{% block title %}
כל השיחות
{% endblock %}

{% block css %}
{% endblock %}

{% block main %}
    {% for conv in conversations %}
    <div class="conversation">
        <div class="title">{{conv.title}}</div>
        <div class="messages">
        {% for message in conv.messages[:2] %}
            {% include "_message.html" %}
        {% endfor %}
        </div>
        <a class="action" href="/conversations/{{conv.id}}">המשך</a>
    </div>
    {% else %}
    <div  class="note">זה נורא עצוב, אבל אין כאן שום דבר.</div>
    {% endfor %}
{% endblock %}
