{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet/less" type="text/css" href="/static/css/document.less">
{% endblock %}

{% block title %}
אנונימיות
{% endblock %}

{% block main %}
    <div id="content">
        <p>
        בעולם בו החיים שלנו חשופים לכל "החברים" שלנו בפייסבוק, <strong>האנונימיות היא מצרך נדיר</strong>. מי מעז לספר בסטטוס שלו בפייסבוק איך הוא באמת מרגיש היום ולשבור את התדמית המצליחה, הסקסית והמחייכת שהוא יצר לעצמו בעמל רב? האינטרנט המודרני מעודד אותנו לחשוף את הכל, אך כל חשיפה כזאת תשאר לעד חלק מהזהות האונליינית שלנו. לכן, ככל שעובר הזמן, <strong>אנחנו נזהרים יותר ויותר ומקריבים את האמת שלנו בעבור התדמית.</strong>
        </p>

        <p>
        <strong><a href="http://openemotion.org">openemotion.org</a> הוא מקום של אמת וכנות.</strong> כדי לאפשר את זה האתר הוא <strong>אנונימי לחלוטין.</strong> אתם מזדהים בשם בדוי כלשהו לפי רצונכם ולא צריכים להזין כתובת אימייל או כל פרט זיהוי אחר. לאף אחד, כולל מפעילי האתר, אין מושג ירוק מי אתם בחיים האמיתיים. אתם יכולים להיות מי שאתם באמת ולדבר על הכל: כל מה שמציק, מטריד, מעצבן ומכעיס וכמובן מה שמשמח. כל מה שאתם מרגישים וחושבים. <strong>כל מה שאסור לדבר עליו, כל מה שטאבו, כל מה שאסור שמישהו ישמע.</strong>
        </p>
    </div>
{% endblock %}
