{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet/less" type="text/css" href="/static/css/document.less">
{% endblock %}

{% block title %}
שאלות נפוצות
{% endblock %}

{% block main %}
    <div id="content">
        <p>
            דף השאלות והתשובות נמצא בשכתוב. אם יש לכם שאלה, אתם יכולים לשלוח לנו מייל ל-<a href="mailto:info@openemotion.org">info@openemotion.org</a> ונשמח לענות לכם ואולי אפילו להוסיף את השאלה והתשובה לכאן.
        </p>
        <p>
            יום נפלא,<br>
            צוות האתר
        </p>
    </div>
{% endblock %}
