{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet/less" type="text/css" href="/static/css/document.less">
{% endblock %}

{% block body %}
    <h1>שאלות נפוצות</h1>

    <h2>למה צריך אתר כזה?</h2>

    <p>
    ישנם מספר כיוונים שאנחנו יכולים לפנות אליהם כשאנחנו צריכים שמישהו יקשיב לנו. המועמדים הטבעיים ביותר הם חברים ומשפחה, אך לצערינו לא לכולנו יש יחסים פתוחים מספיק עם האנשים הקרובים לנו בכדי לדבר איתם על כל דבר. תמיד יש איזה נושא שאי אפשר לדבר עליו עם אף אחד. טיפול פסיכולוגי, אימון אישי וטיפולים אלטרנטיביים אחרים הם אופציה נוספת, אך כאן המחיר מתחיל להוות בעיה משמעותית. לא כולם יכולים להרשות לעצמם לשלם 300 ש"ח ואף יותר בכל שבוע. תמיכה מסויימת ניתן לקבל גם באמצעי התקשורת שיש היום באינטרנט: בלוגים, פורומים, Facebook ו-Twitter, אך כאן נדרשת מידה לא מבוטלת של חשיפה אישית והתגובות לא תמיד אוהדות. 
    אנחנו רוצים ליצור קהילה של תמיכה והקשבה הדדית. אנחנו רוצים שזה יהיה זמין לכולם, כל הזמן ובכל מקום. אנחנו רוצים לאפשר לכל אחד במה לביטוי עצמי מבלי שייתקל בביקורת, שיפוטיות או התרסה. אנחנו רוצים לאפשר מקום לכל רגש אנושי באשר הוא, כולל רגשות שלא מקובל לבטא בחברה. אנחנו רוצים ללמוד אחד מהשני ולהתרגש אחד מהשני, אבל לשמור על אנונימיות ולהמנע מחשיפה ופגיעה. ואנחנו רוצים שהתמיכה תהיה אוהדת, רגישה ומיומנת.
    </p>
    <p>
    עד כמה שאנחנו יודעים, זה לא קיים היום ואת החלל הזה אנחנו מתכוונים למלא.
    </p>

    <h2>כיצד האתר יעבוד?</h2>

    <p>
    האתר יהיה בנוי משיחות בכתב בין שני אנשים, כאשר אחד מהם בעיקר ידבר והשני בעיקר יקשיב. מי שידבר, המשתף (מלשון שיתוף), יחלוק את המחשבות, הרגשות והכאבים שלו. מי שיקשיב, התומך, יעניק למשתף קבלה ואהדה ללא תנאי, מרחב בטוח לביטוי אישי ופרספקטיבה נוספת על הנאמר. המטרה היא ליצור עבור המשתתף את התנאים האופטימאליים לחקירה פנימית, תקשורת פתוחה עם עצמו וריפוי רגשי. לשם כך, משתתפים שירצו להפוך לתומכים, יעברו הכשרה מיוחדת במסגרת האתר ויקבלו ליווי והנחיה מתומכים וותיקים. התומכים הראשונים באתר יהיו אנשי מקצוע מתחום הטיפול עם נסיון מוכח וגישה רכה.
    </p>
    <p>
    כל השיחות, גם אלה שמתנהלות ברגעים אלה ממש וגם אלה שכבר ההסתיימו, יהיו פתוחות לקריאה לקהל הרחב של המשתמשים באתר. לעיתים קרובות, לפני שאנשים יסכימו לחשוף את עצמם ולשתף את הכאבים שלהם, הם יקראו שיחות תמיכה של אנשים אחרים בנושאים דומים לנושא שהם מתמודדים איתו. היכולת לצפות בשיחות מהצד מזכירה את מה שקורה בקבוצות תמיכה, מעגלי שיתוף וסדנאות התפתחות, בהן לעצם הנוכחות בחדר יש השפעה חיובית חזקה. אם מעולם לא השתתפתם בקבוצה כזו, תוכלו לקבל משהו מחוויה <a href="http://www.youtube.com/watch?v=nn14ooi-6UQ">בסרטון נפלא</a> הלקוח מאחת הסדנאות שהעבירה <a href="http://en.wikipedia.org/wiki/Byron_Katie">ביירון קייטי</a>, מטפלת פופולארית מארה"ב.
    </p>
    <p>
    הנוכחות של צופים חשובה גם עבור המשתתף ויכולה להוסיף לתחושת הקבלה והאהדה שלו ולאפקטיביות של התהליך. הצופים יוכלו להגיב על המתרחש בשיחה, אך בכדי להמנע מהתקפות, ביקורת ופגיעה באופיה העדין של השיחה, נאפשר רק צורה מוגבלת של תגובה שמתארת חיזוק והזדהות עם דברי הדובר.
    </p>

    <h2>למי מיועד האתר?</h2>

    <p>
    האתר מיועד לכל אדם עם קושי רגשי כלשהו ומוכנות לדבר עליו. באופן טבעי, האנשים הראשונים שישתתפו באתר יהיו צעירים יחסית, עבורם התכתבות וחשיפה באינטרנט לא מהווים מכשול משמעותי. אותם משתתפים ראשונים יהיו ככל הנראה גם כאלה שעברו תהליכי התפתחות אישית או רוחנית מסוג כלשהו ומכירים את החוויה של הקשבה ואהדה ללא תנאי. הגרסא הראשונה של האתר תהיה בעברית ולכן המשתתפים הראשונים יהיו דוברי עברית.
    </p>
    <p>
    בהמשך ועם התרחבות הקהילה אנחנו מקווים להגיע לכל שכבות האוכלוסיה, בכל המגזרים, בכל השפות ובכל העולם. מתחת לשכבות ההגנה ולמעטה התרבות, הנימוס וכללי ההתנהגות, אנחנו מאוד דומים אחד לשני ומתמודדים עם קשיים רגשיים משותפים. האנונימיות, התמיכה האוהדת, זמינות האתר כולו לקריאה ללא הרשמה, ותרגום אוטומאטי יאפשרו לאנשים רבים יותר ויותר לקרוא, לחוות ולהצטרף.
    </p>

    <h2>האם השימוש באתר הוא תחליף לטיפול?</h2>

    <p>
    השימוש באתר הוא לא תחליף לטיפול או אימון מסוג כלשהו כפי שהקשרים שיווצרו בו לא יחליפו זוגיות, חברים או משפחה. אנחנו מקווים שבזכות השימוש באתר, השיתוף החופשי והחוויה של הקשבה אוהדת, המשתתפים יוכלו לחוות קשרים טובים יותר, פתוחים יותר ואמיתיים יותר עם האנשים הקרובים אליהם. אנחנו מקווים גם, שמי שיבטא את רגשותיו באתר במקום להדחיק אותם ולשמור אותם לעצמו, יחיה חיים נעימים, מתוחים פחות ובריאים יותר ולכן יזדקק פחות לטיפול בידי אנשי מקצוע. התקווה שלנו מבוססת בחלקה על הנסיון האישי שלנו כבני אדם וכמטפלים ובחלקה על מחקרים רבים שנעשו בתחום ע" חוקרים כמו <a href="http://en.wikipedia.org/wiki/Carl_Rogers">קארל רוג'רס</a> <a href="http://en.wikipedia.org/wiki/James_W._Pennebaker">וג'יימס פנבייקר</a>.
    </p>
    <p>
    אנחנו מאמינים שתמיכה והקשבה הן מיומנויות אנושיות בסיסיות שייטב לכולנו אם נתאמן ונשתפר בהן. התומכים הראשונים באתר יהיו אנשי מקצוע, מאמנים ומטפלים מיומנים שעברו הכשרה במוסדות מוכרים. אנשים אלה יקבעו את הטון, יעזרו לבנות את המוניטין של האתר ואת אותה חווית הקשבה עדינה אליה אנו מכוונים. בהמשך, ואנחנו מקווים להגיע לכך מהר, ניצור אפשרות לכל משתתף וותיק להפוך לתומך, תחת הדרכה והנחייה של תומך וותיק ומנוסה.
    </p>

    <h2>האם יכול להיות שמישהו ייפגע?</h2>

    <p>
    זו שאלה קשה שמטרידה רבים ומטרידה גם אותנו. סביר להניח שבאתר עם מיליוני משתמשים יהיו משתמשים שיפגעו בעצמם או באחרים. למעשה, סביר להניח שבכל קבוצת אנשים גדולה יהיו אנשים כאלה. כואב ומפחיד לחשוב על כך, אך כואב ומפחיד עוד יותר לחשוב על כל אותם אנשים שחיים היום, פוגעים ונפגעים, ואין מי שיקשיב להם. אנחנו מקווים שע"י מתן מקום בטוח ומאפשר לביטוי רגשות ומחשבות תחת מעטה של אנונימיות ותמיכה אוהדת, נעזור לאנשים להתמודד עם הקשיים בחייהם ללא שימוש באלימות מילולית או פיזית. עבור סיטואציות מורכבות שללא ספק יווצרו, נעמיד לרשות התומכים צוות סיוע מקצועי שיורכב מפסיכולוגים ועובדים סוציאליים שיוכלו לייעץ ואף להתערב במידת הצורך.
    </p>
    <p>
     ייתכן מאוד שנמצא את עצמינו מתמודדים עם כעס ציבורי ואף מהלכים משפטיים על דברים שייכתבו באתר. ייתכן שבמסגרת השיתופים באתר יובעו רגשות שנחשבים בלתי לגיטימיים בעיני החברה וחטאים בעיני הדתות. אנחנו שומרים לעצמינו את הזכות להסיר מהאתר תכנים חריגים של הסתה או פגיעה בפרטיות, אך נשתמש בה לעיתים רחוקות ובכובד ראש. עם זאת, לעולם נשמור על האנונימיות של הגולשים ולא נחשוף את פרטיהם.
    </p>

    <h2>מהו המודל העסקי של האתר?</h2>

    <p>
    כל הוצאות האחזקה של האתר יתחלקו באופן שווה בין כל משתתפי האתר, כולל התומכים. המחיר ההתחלתי יהיה כ-30 ש"ח לחודש והוא יירד ככל שיעבור זמן ויהיו יותר משתתפים. אנחנו מקווים בסופו של דבר להגיע למחיר של 5 ש"ח בחודש ואף פחות מכך - מחיר שאמור להיות שווה לכל נפש.
    </p>
    <p>
    החלק הארי של הכסף יילך למשכורות הצוות שיתחזק את האתר במשרה מלאה - גרעין של אנשים טכניים ומטפלים מנוסים שיפתחו את התוכנה שמאחורי האתר, יתמכו בבניית הקהילה ויחפשו ללא הרף דרכים לשיפור החוויה ולעידוד הפתיחות. את עודפי ההכנסות נתרום לארגונים שונים שמשפרים את איכות חייהם של אנשים בכל העולם.
    </p>

    <h2>מי בצוות?</h2>

    <ul>
    <li><strong>אלי פיינר</strong> - מתכנת ויזם בוגר ממר"ם עם 15 שנות נסיון בפיתוח תוכנה; מאמן אישי ומטפל.
    <li><strong>יעל פיינר</strong> - מטפלת ברפואה סינית, דיקור יפני ותטא הילינג עם 12 שנות נסיון בטיפול וריפוי.
    <li><strong>גברי פיליפסון</strong> - מתכנת, מורה ופילוסוף עם 20 שנות נסיון בפיתוח תוכנה, ניהול והדרכה.
    <li><strong>יובל רוז</strong> - מאמנת אישית ומטפלת עם 20 שנות נסיון בהובלת תהליכים והנחיית סדנאות.
    </ul>

    <h2>יש לכם שאלות נוספות?</h2>

    <p>
    אם יש לכם שאלות נוספות, הערות או רעיונות, כתבו אלינו ל-<a href="mailto:info@openemotion.org">info@openemotion.org</a>.
    </p>
{% endblock %}
