{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet/less" type="text/css" href="/static/css/document.less">
{% endblock %}

{% block title %}
אנונימיות
{% endblock %}

{% block main %}
    <div id="content">
        <p>
        המסדרון הוא מקום בו אפשר לדבר על האתר - מה עובד, מה לא עובד, מה צריך להוסיף או לשנות. המסדרון עובר שיפוצים - אנחנו מתקינים מכונת קפה חדשה וצובעים את הקירות, לכן כרגע אי אפשר לנהל בו שיחות. אם יש לכם שאלה או שאתם רוצים לדווח על בעיה, תכתבו ל-<a href="mailto:info@openemotion.org">info@openemotion.org</a> ונענה לכם בהקדם.
        </p>
        <p>
            יום נפלא,<br>
            צוות האתר
        </p>
    </div>
{% endblock %}
