<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="header">
      <div id="links">
        <a href="/">ראשי</a> |
        <a href="terms">תנאי שימוש</a> |
        <a href="faq">שאלות נפוצות</a> |
        <a href="contact">צור קשר</a>
        <div id="login-links">
          <a href="#">התחבר</a> |
          <a href="#">הרשם</a>
        </div>
      </div>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
