<!doctype html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet/less" type="text/css" href="/static/css/base.less">
    <link rel="stylesheet/less" type="text/css" href="/static/css/layout.less">
    {% block css %}{% endblock %}
    <script type="text/javascript" src="/static/js/less.js"></script>
  </head>
  <body>
    <header>
      <div id="header-background"></div>
      <div class="container">
        <nav>
          <ul class="nav-links">
            {% if session.logged_in_user %}
              <li><span>מחובר כ-</span><a href="/users/{{session.logged_in_user}}">{{session.logged_in_user}}</a></li>
              <li><a href="/logout?goto={{request.url|urlencode}}">התנתק</a></li>
            {% else %}
              <li><a href="/faq">שאלות נפוצות</a></li>
              <li><a href="/terms">תנאי שימוש</a></li>
              <li><a href="mailto:support@openemotion.org">כתבו לנו</a></li>
            {% endif %}
          </ul>
          <div id="logo">
            <a href="/"><img src="/static/images/openemotion-logo-white.png" alt="openemotion קהילה לתמיכה רגשית"></a>
            <div id="tagline">קהילה לתמיכה רגשית</div>
          </div>
          <div id="description">
            <p>
              כאן המקום לדבר על הכל. כל מה שאנחנו מתביישים בו, הפחדים, הכעסים, התסכולים. כל מה שאין לנו למי לספר ואנחנו אפילו לא מעיזים לספר לעצמינו. כאן אפשר לפרוק את העול, לאמר את האמת ולתת מקום לכל הרגשות.
            </p>
            <p>
              כאן אפשר לפתוח את הלב ולקבל אהבה.
            </p>
          </div>
          <div id="buttons">
            {% if session.logged_in_user %}
              <li><a class="btn" href="/conversations/new">שיתוף חדש</a></li>
              <li><a class="btn" href="mailto:support@openemotion.org">כתבו לנו</a></li>
            {% else %}
              <li><a class="btn" href="/register">הרשמה</a></li>
              <li><a class="btn" href="/login?goto={{request.url|urlencode}}">כניסה</a></li>
            {% endif %}
          </div>
        </nav>
      </div>
    </header>

    <div id="main">
      {% block main %}{% endblock %}
    </div>

    <footer>
      <ul class="nav-links">
        <li><a href="/">openemotion.org</a></li>
        <li><a href="/faq">שאלות נפוצות</a></li>
        <li><a href="/terms">תנאי שימוש</a></li>
        <!-- FIXME: create a support conversation for contacting us -->
        <li><a href="mailto:support@openemotion.org">כתבו לנו</a></li>
      </ul>
    </footer>

    <script type="text/javascript" src="/static/js/jquery-1.8.2.js"></script>
    <script type="text/javascript" >
      globalConfig = {
        UPDATE_INTERVAL: {{ config.UPDATE_INTERVAL|tojson }}
      }
    </script>
    {% block js %}{% endblock %}
  </body>
</html>
