{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet/less" type="text/css" href="/static/css/document.less">
{% endblock %}

{% block title %}
הקשבה
{% endblock %}

{% block main %}
    <div id="content">
        <p>
        תשימו לב פעם כשאתם מקשיבים למישהו אחר מדבר ותבדקו אם אתם באמת מקשיבים לו. רוב הסיכויים שתראו שמסתובבות אצלכם מחשבות על הנאמר ואתם מקשיבים להן, במקום להקשיב לדובר. האם אני מאמין לו? האם אני מסכים עם מה שהוא אומר? אני יודע מה הוא צריך לעשות. הוא טועה! במקום להקשיב, <strong>אנחנו נוטים פשוט לחכות שהאדם השני יסיים לדבר</strong> (או ייקח נשימה) כדי שנוכל להגיד את מה שיש לנו להגיד. אחלה תקשורת.
        </p>

        <p>
        <strong>ב-<a href="http://openemotion.org">openemotion.org</a> אנחנו נלמד יחד איך להקשיב בצורה אחרת, להקשיב באמת.</strong> אנחנו נמנע מביקורת, משיפוט ומלחוות דעה. אנחנו נשתדל שלא לתת עצות ונאפשר לדובר לחקור את המחשבות והרגשות שלו בקצב שנוח לו. אנחנו נשאל שאלות ונתעניין, נשקף ונברר ובעיקר ניתן מקום לכל מה שעולה. הקשבה היא מתנה נפלאה ואנחנו נעניק אותה אחד לשני, כל יום, כל היום.
        </p>
    </div>
{% endblock %}
