{% extends "layout.html" %}

{% block css%}
  <link rel="stylesheet/less" type="text/css" href="/static/css/login.less">
{% endblock %}

{% block js%}
  <script type="text/javascript">document.getElementById("name").focus()</script>
{% endblock %}

{% block title %}
כניסה
{% endblock %}

{% block main %}
    <form id="login" method="post">
        <input type="text" id="name" name="name" placeholder="שם בדוי" value="{{request.args.get("name", "")}}"></label>
        <input  type="password" id="password" name="password" placeholder="סיסמא">
        {% if request.args.get("error") == "no_name" %}
        <div class="error">שכחתם להזין שם?</div>
        {% elif request.args.get("error") == "no_password" %}
        <div class="error">שכחתם להזין סיסמא?</div>
        {% elif request.args.get("error") == "bad_password" %}
        <div class="error">הסיסמא לא נכונה, נסו שנית.</div>
        {% endif %}

        <input id="login" type="submit" value="כניסה">
        <div class="clear"></div>
        <div class="help" style="display:none">
            <p><strong>שכחתם את הסיסמא שלכם?</strong><p>
            <p>באסה.</p>
            <p>
            בכדי לשמור על האנונימיות שלכם אנחנו לא שומרים עליכם שום פרט וגם את הסיסמא אנחנו שומרים בצורה מוצפנת כך שאין לנו מושג מה היא. אתם מוזמנים לפתוח עוד פרופיל באתר. ממילא אף אחד לא יודע מי אתם באמת, ולפעמים זה אפילו נחמד לפתוח דף חלק.
            </p>
        </div>
    </form>
    <form id="register" action="/register" method="get">
        <div class="help">
            <p>
            <strong>שכחתם את הסיסמא שלכם?</strong> באסה. 
            </p>
            <p>
            בכדי לשמור על האנונימיות שלכם אנחנו לא שומרים עליכם שום פרט וגם את הסיסמא אנחנו שומרים בצורה מוצפנת כך שאין לנו מושג מה היא. אתם מוזמנים לפתוח עוד פרופיל באתר. ממילא אף אחד לא יודע מי אתם באמת, ולפעמים זה אפילו נחמד לפתוח דף חלק.
            </p>
            <p>
            <strong>אין לכם פרופיל באתר?</strong> הזדמנות מצויינת לרשם.
            </p>
            <p>
            ההרשמה אנונימית לחלוטין ולוקחת כמה שניות. אנחנו אפילו לא מבקשים את האימייל שלכם.
            </p>
        </div>
        <input type="submit" value="הצטרפות">
        <div class="clear"></div>
    </form>
{% endblock %}
