{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet/less" type="text/css" href="/static/css/document.less">
    <link rel="stylesheet/less" type="text/css" href="/static/css/document.less">
{% endblock %}

{% block title %}
{% endblock %}

{% block main %}
    <div id="content">
        <p>שלום לכם,</p>
        <p><strong>שמי אלי פיינר ואני רוצה להזמין אתכם לאתר <a href="http://www.openemotion.org?from=pub">openemotion.org</a>, קהילה לתמיכה רגשית.</strong></p>
        <p>יש לי נטיה להתקפי דכאון וכעס. כשאני בהתקף ג'ננה כזה, הכל נראה שחור ואני מרגיש חסר ערך לחלוטין. ההתקפים מלווים אותי במשך רוב חיי הבוגרים והדבר שאני הכי רוצה בזמן התקף כזה, זה <strong>שמישהו יקשיב לי</strong>. פשוט יקשיב. בלי לתת עצות, בלי לשפוט, בלי לבקר וגם בלי לנחם. אני לא רוצה לשמוע שיהיה יותר טוב, אני לא רוצה הוכחות שבעצם הכל בסדר עם החיים שלי ואני במיוחד לא רוצה שיגידו לי שבגלל שיש לי נטיה להתקפים אני צריך להזהר ולעשות פחות עם עצמי. אני לא רוצה להעמיס על החברים והמשפחה שלי ואני גם לא רוצה שידאגו לי, אבל אני עדיין רוצה שמישהו יקשיב לי ויהיה שם בשבילי. מצד שני, כשאני מרגיש טוב, אני מוכן להקשיב לאנשים אחרים. אני מוכן להכיל, לתמוך ולאהוב בלי תנאים. אם רק היה מקום שבו אפשר היה לקבל ולתת הקשבה כזאת, <strong>אתר אינטרנט כזה, של הקשבה טהורה.</strong></p>
        <p><strong>אז יש. ברוכים הבאים ל-<a href="http://www.openemotion.org?from=pub">openemotion.org</a>. </strong></p>
        <p>האתר הוא מקום שבו אפשר לדבר על הכל. כל מה שאנחנו מתביישים בו: הפחדים, הכעסים, התסכולים. כל מה שאין לנו למי לספר וכל מה שאנחנו אפילו לא מעיזים לספר לעצמינו: טראומות מהעבר, חרדה מהעתיד, כאבי לב שמסרבים לחלוף. כאן פורקים את העול, אומרים את האמת ונותנים מקום לכל רגש באשר הוא. כאן פותחים את הלב ומקבלים אהבה.</p>
        <h2>אנונימיות</h2>

        <p>בעולם בו החיים שלנו חשופים לכל "החברים" שלנו בפייסבוק, <strong>האנונימיות היא מצרך נדיר</strong>. מי מעז לספר בסטטוס שלו בפייסבוק איך הוא באמת מרגיש היום ולשבור את התדמית המצליחה, הסקסית והמחייכת שהוא יצר לעצמו בעמל רב? האינטרנט המודרני מעודד אותנו לחשוף את הכל, אך כל חשיפה כזאת תשאר לעד חלק מהזהות האונליינית שלנו. לכן, ככל שעובר הזמן, <strong>אנחנו נזהרים יותר ויותר ומקריבים את האמת שלנו בעבור התדמית.</strong></p>
        <p><strong><a href="http://www.openemotion.org?from=pub">openemotion.org</a> הוא מקום של אמת וכנות</strong>. כדי לאפשר את זה האתר הוא <strong>אנונימי לחלוטין</strong>. אתם מזדהים בשם בדוי כלשהו לפי רצונכם ולא צריכים להזין כתובת אימייל או כל פרט זיהוי אחר. לאף אחד, כולל מפעילי האתר, אין מושג ירוק מי אתם בחיים האמיתיים. אתם יכולים להיות מי שאתם באמת ולדבר על הכל: כל מה שמציק, מטריד, מעצבן ומכעיס וכמובן מה שמשמח. כל מה שאתם מרגישים וחושבים. <strong>כל מה שאסור לדבר עליו, כל מה שטאבו, כל מה שאסור שמישהו ישמע.</strong></p>
        <p><strong>בואו ל-<a href="http://www.openemotion.org?from=pub">openemotion.org</a> ותחוו את החופש להיות מי שאתם באמת.</strong></p>
        <h2>הקשבה</h2>

        <p>תשימו לב פעם כשאתם מקשיבים למישהו אחר מדבר ותבדקו אם אתם באמת מקשיבים לו. רוב הסיכויים שתראו שמסתובבות אצלכם מחשבות על הנאמר ואתם מקשיבים להן, במקום להקשיב לדובר. האם אני מאמין לו? האם אני מסכים עם מה שהוא אומר? אני יודע מה הוא צריך לעשות. הוא טועה! במקום להקשיב, <strong>אנחנו נוטים פשוט לחכות שהאדם השני יסיים לדבר</strong> (או ייקח נשימה) כדי שנוכל להגיד את מה שיש לנו להגיד. אחלה תקשורת.</p>
        <p><strong>ב-openemotion אנחנו נלמד יחד איך להקשיב בצורה אחרת, להקשיב באמת</strong>. אנחנו נמנע מביקורת, משיפוט ומלחוות דעה. אנחנו נשתדל שלא לתת עצות ונאפשר לדובר לחקור את המחשבות והרגשות שלו בקצב שנוח לו. אנחנו נשאל שאלות ונתעניין, נשקף ונברר ובעיקר ניתן מקום לכל מה שעולה. הקשבה היא מתנה נפלאה ואנחנו נעניק אותה אחד לשני, כל יום, כל היום.</p>
        <p><strong>בואו ל-<a href="http://www.openemotion.org?from=pub">openemotion.org</a> וקבלו את מתנת ההקשבה.</strong></p>
        <h2>מנוי חינם לכל החיים ל-20 הראשונים</h2>

        <p>לרגל השקת האתר אנחנו מזמינים קבוצה קטנה של אנשים ליצור יחד איתנו את הקהילה. רק 20 הנרשמים הראשונים יוכלו לקחת חלק בשלב זה, עד שנלמד ביחד מה עובד ומה לא ונגבש את הזהות של הקהילה. אותם 20 הראשונים, קבוצת הגרעין, יקבלו מנוי חינם לכל החיים לאתר. אנשים שיצטרפו בשלב מאוחר יותר ישלמו כבר מנוי חודשי.</p>
        <p>כל דף השקה ראוי לשמו חייב להסתיים בשאלות מכירתיות נדושות ואין לנו שום כוונה לוותר על זה.</p>

        <p>אז …</p>

        <ul>
        <li>רוצים לקחת חלק במיזם חברתי שייתן אוזן קשבת לכל מי שזקוק לה?
        <li>יושב לכם משהו על הלב ואין לכם למי לספר אותו?
        <li>מרגישים בודדים או מנותקים?
        <li>מוכנים להתרגש?
        </ul>

        <p><strong>בואו ל-<a href="http://www.openemotion.org?from=pub">openemotion.org</a> ותספרו לנו מה עובר עליכם. מבטיחים להקשיב.</strong></p>

        <p>מחכים לכם באהבה,<br>
        אלי ויעל פיינר</p>
        <p><strong>אגב, </strong></p>
        <p>אם אתם מרגישים נפלא, יש לכם תמיכה נהדרת מחברים ומהמשפחה ואין לכם צורך בהקשבה מהלב, אולי מישהו מהקרובים אליכם זקוק לאוזן קשבת? מוזמנים להפיץ את האתר הזה לכל מי שהוא יכול לעזור לו.</p>
    </div>
{% endblock %}