{% extends "layout.html" %}
{% block body %}
    <h1>הרשמה</h1>

    <form method="post">
     <label><div>שם בדוי</div><input type ="text" id="name" name="name" value={{request.args.get("name", "")}}></label>
      {% if request.args.get("error") == "no_name" %}
      <div class="error">שכחת להזין שם?</div>
      {% elif request.args.get("error") == "user_exists" %}
      <div class="error">יש כבר משתמש עם השם הזה</div>
      {% endif %}
      <input id="register" type="submit" value="הרשם">
    </form>
    <script type="text/javascript">document.getElementById("name").focus()</script>

{% endblock %}
