{% extends "layout.html" %}

{% block css %}
  <style>
    #username {
      direction: rtl;
    }
    #password {
      direction: ltr;
    }
    #confirm {
      direction: ltr;
    }
  </style>
{% endblock %}

{% block body %}
    <h1>הרשמה</h1>

    <form method="POST">
      {% from "_formhelpers.html" import render_field %}
      {{ form.hidden_tag() }}
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
      <input id="register" type="submit" value="הרשם">
    </form>
    <script type="text/javascript">document.getElementById("username").focus()</script>

{% endblock %}
