{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet/less" type="text/css" href="/static/css/document.less">
{% endblock %}

{% block title %}
תנאי שימוש
{% endblock %}

{% block main %}
    <div id="content">
        <p>
            דף תנאי השימוש נמצא בשכתוב. אם יש לכם שאלה, אתם יכולים לשלוח לנו מייל ל-<a href="mailto:info@openemotion.org">info@openemotion.org</a> ונשמח לענות לכם.
        </p>
        <p>
            בגדול, תהיו נחמדים אחד לשני, תקשיבו, תכילו ותשתפו את הדברים האמיתיים ביותר שלכם. אה, ועוד משהו חשוב.
        <p>
        </p>
            <strong>השימוש באתר איננו תחליף לטיפול פסיכולוגי או רפואי.</strong><br>אם במקרה חשבתם. אז הוא לא.            
        </p>
        <p>
            יום נפלא,<br>
            צוות האתר
        </p>

    </div>
{% endblock %}
